[Unit]
Description=Arena-Web Task-Manager Timer - Runs every 10 seconds
Requires=task_manager.service

[Timer]
Unit=task_manager.service
OnUnitActiveSec=10s
AccuracySec=100ms

[Install]
WantedBy=timers.target